// colors
$white: #fff;
$black: #000;
$black-brown-light: #303033;
$theme-base-color: #68a0c7;
$black-brown-lighter: #434343;

// Media query
$breakpoint-menu-medium: max-width 1300px;
$breakpoint-menu-small: max-width 1100px;
$breakpoint-small: max-width 600px;
