// colors
$white: #fff;
$black-brown-light: #303033;
$theme-base-color: #68a0c7;

$breakpoint-menu-medium: max-width 1300px;
$breakpoint-menu-small: max-width 1100px;
$breakpoint-small: max-width 600px;