.site-header {
  padding-top: 2rem;
  .block-blockify-blockify-logo {
    position: relative;
    z-index: 1;
    @include span-columns(5);
    margin-top: 1rem;
  }
}

.main-menu {
  position: relative;

  .main-menu-toggle {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 1rem;
    margin-right: 4rem;
    background-image: url('../../graphics/icons/menu.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: none;
    background-color: red;

    @include media($breakpoint-menu-medium) {
      display: block;
    }
  }

  .main-menu-toggle-open {

  }
  
  .menu {

    a {
      color: $white;
      display: block;
      padding: 0 1rem;
    }
  }

  .menu-block-wrapper {
    background-color: red;

    @include media($breakpoint-menu-medium) {
      @include transition(transform .3s ease-in-out);
      @include transform(translateX(100%));
      position: absolute;
      width: 50%;
      height: 100vh;
      right: 0;
      z-index: 1;
      padding: 2rem;
      background-color: $black-brown-light;
      //display: none;

      li {
        float: none;
        display: block;

        a {
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #434343;
        }
      }
    }


    @include media($breakpoint-menu-small) {
      width: 100%;
    }

    &.show {
      @include transform(translateX(0)) !important;
    }    
  }

  @include media($breakpoint-small) {

  }
}