.site-header {
  background-color: $theme-base-color;
  overflow: auto;
  .block-blockify-blockify-logo {
    position: relative;
    z-index: 1;
    @include span-columns(5);
    margin-top: 1rem;
  }
}

.main-menu {
  padding: 0 1rem;

  .main-menu-toggle {
    width: 40px;
    height: 50px;
    float: right;
  }

  .main-menu-toggle-open {

    margin-right: 4rem;
    background-image: url('../../graphics/icons/menu.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: none;

    @include media($breakpoint-menu-medium) {
      display: block;
    }
  }
  
  .menu {
    clear: both;
    a {
      color: $white;
      display: block;
      padding: 0 1rem;
    }
  }

  .menu-block-wrapper {

    @include media($breakpoint-menu-medium) {
      @include transition(transform .3s ease-in-out);
      @include transform(translateX(100%));
      position: absolute;
      width: 50%;
      height: 100vh;
      right: 0;
      z-index: 1;
      padding: 2rem;
      background-color: $black-brown-light;
      // display: none;

      li {
        float: none;
        display: block;

        a {
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #434343;
        }
      }
    }


    @include media($breakpoint-menu-small) {
      width: 100%;
    }

    &.show {
      @include transform(translateX(0));
    }

    .main-menu-toggle-close {
      background-image: url('../../graphics/icons/close.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      height: 35px;
    }   
  }

  @include media($breakpoint-small) {

  }
}